body {
  margin: 0 16px;
  padding: 0 10px;

  width: 268px;
  height: 664px;
  flex-shrink: 0;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: white;
  border-radius: 5%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;

  background-image: url(../imegin/img.jpg);
  background: url(../imegin/img.jpg);
  background-position: auto;
}
.title {
  font-size: 16px;
  text-align: center;
}

.foto {
  overflow-clip-margin: content-box;
  overflow: clip;
}
